<div id="serving_query_form" style="padding: 10px 15px 10px;background-color:white;margin-bottom: 10px; border: 1px solid #95b8e7">
	<div>
		<div style="margin-bottom: 5px;display:inline-block;">
			<label style="font-size:14px;color:#333" for="realName">工号 ：</label>
			<input id="realName"  name="realName" placeholder="请输入工号"  title="支持模糊查询" type="text"  value=""/>
		</div>
		<div style="margin-bottom: 5px;display:inline-block;">
			<label style="font-size:14px;color:#333" for="userName">姓名 ：</label>
			<input id="userName" name="userName" placeholder="请输入姓名" title="支持模糊查询" type="text"  value=""/>
		</div>
	</div>
		<a id ="queryBtn" type="button" class="easyui-linkbutton">查询</a>
    	<a id="resetBtn" class="easyui-linkbutton" style="margin-left: 1px;">重置</a>
    	<a id ="importBtn" type="button" class="easyui-linkbutton" style="margin-left: 1px;">导入</a> 
		<a id ="saveBtn" type="button" class="easyui-linkbutton" style="margin-left: 1px;"><h style="color:red">保存</h></a>
    	<div id="importDiv" style="margin-bottom: 5px;display:inline-block;">
	    	<form id="excelForm" method="post" enctype="multipart/form-data" >
	    		<input type="file" id="excelFile" name="excelFile"  />
	    	</form>
		 </div>
</div>

<div id="serving_container" style="padding: 5px;">
	<div id="serving_container"></div>
</div>

<script type="text/javascript">  
#[[

$(document).ready(function() { 
	$('#importDiv').hide();
	$('#saveBtn').hide();
	$('#realName').val('');
	$("#userName").val('');
});

$(function(){

	$("#resetBtn").click(reset);
	$("#importBtn").click(preImport);
	$("#queryBtn").click(loadData);

	$('#serving_container').datagrid({
		width:'99%',  
		nowrap: false,
		method: 'post',
		striped: true,
		collapsible:true,
		url:'serving/list.json',
		queryParams:packageData(),
		rownumbers:true,
		singleSelect:true,
		remoteSort: false,
		pagination:true,
		pageSize: 20,//每页显示的记录条数，默认为10 
        pageList: [10,20,30,40,50],
		idField:'id',
		toolbar:[{
		 			id:'add',
		 			text:'新增',
		 			iconCls:'icon-add',
		 			handler:function(){
			    		window.location.href = $rdm.baseUrl() + "/serving/add";
			    	}
		 		},
		 		{
		 			id:'update',
		 			text:'修改',
		 			iconCls:'icon-edit',
		 			handler:function(){
			    		window.location.href = $rdm.baseUrl() + "/serving/add";
			    	}
		 		},
		 		{
		 			id:'del',
		 			text:'删除',
		 			iconCls:'icon-remove',
		 			handler:function(){
			    		window.location.href = $rdm.baseUrl() + "/serving/add";
			    	}
		 		}
		 		,{
		 			id:'export',
		 			text:'导出',
		 			iconCls:'icon-redo',
		 			handler:function(){
			    		window.location.href = $rdm.baseUrl() + "/serving/add";
			    	}
		 		}
		 ],
		columns:[[
			{field:'id',title:'ID',width:fixWidth(0.1),align:'center', hidden:'true'},
			{field:'realName',title:'第三方名称',width:fixWidth(0.1),align:'center'},
			{field:'userName',title:'第三方账号',width:fixWidth(0.1),align:'center'},
			{field:'totalBooks',title:'图书总数',width:fixWidth(0.06),align:'center'},
			{field:'totalSub',title:'总订阅数',width:fixWidth(0.06),align:'center'},
			{field:'totalIncome',title:'总收益(豆瓜币)',width:fixWidth(0.08),align:'center'},
			{field:'opt',title:'操作',width:fixWidth(0.12),align:'center',
				formatter:function(value, row, index){
					return '<a title="修改账号" style="text-decoration: underline; color:blue;" href="http://doogua.dangdang.com/bms/serving/update/' + row.id +'/">修改</a> | <a title="关联相关作品" style="text-decoration: underline; color:blue;" href="http://doogua.dangdang.com/bms/serving/relaBooks/' + row.id +'/">关联作品</a>';
	 			}
			},
		 	{field:'intro',title:'简介',width:fixWidth(0.20),align:'center'},
			{field:'status',title:'状态',width:fixWidth(0.05),align:'center',
				formatter:function(value, row, index){
					if(row.status == 1){
		 				return '<a style="color:green" >正常</a>'
					}
					return '<a style="color:red" >已封禁</a>'
	 			}
		 	},
		 	{field:'opt2',title:'封禁',width:fixWidth(0.05),align:'center',
				formatter:function(value, row, index){
					if(row.status == 1){
		 				return '<a id ="statusA" href="javascript:status(' + row.id +',' + index + ',0);" title="点击修改为封禁" >封禁</a>'
					}
					return '<a id ="statusA" style="color:red" href="javascript:status(' + row.id +',' + index + ',1);" title="点击修改为正常" >解封</a>'
	 			}
		 	}
		]]
		,onLoadError:function(){
			//$.messager.alert('Error','获取列表失败!请重试。','error');
		}
	});
	
	var values={
		"0":"正常","1":"封禁","null":"未知"
	}
	
	var styler={
		"0":"color:green","1":"color:red","null":"color:grey"
	}
	
});

function loadData(){
	$('#serving_container').datagrid("load",packageData());
}

function preImport(){
	$('#importBtn').hide();
	$('#saveBtn').show();
	$('#excelFile').click();
}


function packageData(){
	var data = {};
	if($("#userName").val() != '') {
		data.userName = $("#userName").val();
	}
	if($("#realName").val() != '') {
		data.realName = $("#realName").val();
	}
	
	return data;
}

function status(id,index,status){
	var row = $('#serving_container').datagrid('getData').rows[index];
	var action ;
	if(status == 0){
		action = '封禁';
	}else {
		action = '恢复';
	}
	$.messager.confirm('提示信息', '确认要' + action + row.realName +'么?',function(r){   
		if (r){
			$.ajax({
				type : "POST",
				url : "http://doogua.dangdang.com/bms/serving/doUpdate",
				data:{id:id,status:status},
				success : function(msg) {
					if(msg == 1){
						alert(action + "成功!!");
						$('#serving_container').datagrid("load",{});
						$('#serving_container').datagrid("unselectAll");
					}else if(msg == 2){
						alert("没有变化的字段，请确认修改内容！");
					}else if(msg == 3){
						alert("输入非法！");
					}else {
						alert("修改失败！");
					}
				}
			});
		}else{
			return;
		}   
	});  
}

document.onkeydown = function(e){
	var event = e || window.event;  
    var code = event.keyCode || event.which || event.charCode;
	if(e.keyCode==13){
		loadData();
	}
}

function reset(){
	$('#userName').val('');
	$('#realName').val('');
	window.location.reload();
}
]]#

</script>  
