<div id="serving_query_form" style="padding: 10px 15px 10px;background-color:white;margin-bottom: 10px; border: 1px solid #95b8e7">
	<div>
		<div style="margin-bottom: 5px;display:inline-block;">
			<label style="font-size:14px;color:#333" for="realName">工号 ：</label>
			<input id="realName"  name="realName" placeholder="请输入工号"  title="支持模糊查询" type="text"  value=""/>
		</div>
		<div style="margin-bottom: 5px;display:inline-block;">
			<label style="font-size:14px;color:#333" for="userName">姓名 ：</label>
			<input id="userName" name="userName" placeholder="请输入姓名" title="支持模糊查询" type="text"  value=""/>
		</div>
	</div>
		<a id ="queryBtn" type="button" class="easyui-linkbutton">查询</a>
    	<a id="resetBtn" class="easyui-linkbutton" style="margin-left: 1px;">重置</a>
    	<a id ="importBtn" type="button" class="easyui-linkbutton" style="margin-left: 1px;">导入</a> 
		<a id ="saveBtn" type="button" class="easyui-linkbutton" style="margin-left: 1px;"><h style="color:red">保存</h></a>
		<a id ="cancelBtn" type="button" class="easyui-linkbutton" style="margin-left: 1px;"><h style="color:red">取消</h></a>
    	<div id="importDiv" style="margin-bottom: 5px;display:inline-block;">
	    	<form id="excelForm" method="post" enctype="multipart/form-data" >
	    		<input type="file" id="excelFile" name="excelFile"  />
	    	</form>
		 </div>
</div>

<div id="serving_container" style="padding: 5px;">
	<div id="serving_container"></div>
</div>

<script type="text/javascript">  
#[[

$(document).ready(function() { 
	$('#importDiv').hide();
	$('#saveBtn').hide();
	$('#cancelBtn').hide();
	$('#realName').val('');
	$("#userName").val('');
});

$(function(){

	$("#resetBtn").click(reset);
	$("#importBtn").click(preImport);
	$("#queryBtn").click(loadData);
	$('#cancelBtn').click(cancel);
	
	$("#saveBtn").click(function() {
		$('#excelForm').form({  
		    url: "roster/serving/import.json?sheetId=1",
		    onSubmit: function() {
		    	var rt = true;
		    	return rt;
		    },  
		    success: function(data) {
				if(data == 0){
					alert("导入了失败啦！检查下格式，内容重试下，或者联系某帅哥！");
				}else{
					alert("保存成功！");
					window.location.reload();
				}
		    }  
		});
		$('#excelForm').submit();
	});
	
    var serView = $.extend({}, $.fn.datagrid.defaults.view, {  
		onAfterRender: function(target){
			$.fn.datagrid.defaults.view.onAfterRender.call(this, target);
			var rows = $(target).datagrid('getRows');
			var data = $(target).datagrid('getData');
			$(target).datagrid('getPanel').find('td[fidld!=actions]').each(function(){
				var tmp = $(this).find('div');
				$(this).attr('title',$(tmp).text());
			});
			$(target).datagrid('getPanel').find('tr[datagrid-row-index]').each(function(){
				var index = $(this).attr('datagrid-row-index');
				var id = rows[index]['id'];
				var name = rows[index]['title'];
				var actionsContainer = $(this).find('div.datagrid-cell-c1-actions');
			});
		}
	});

	$('#serving_container').datagrid({
		view: serView,
		width:'99%',  
		nowrap: false,
		method: 'post',
		striped: true,//偶行使用不同背景色
		collapsible:true,
		//fit:true,//自动补全  
        fitColumns:false,
		url:'roster/serving/list.json?sheetId=1',
		queryParams:packageData(),
		rownumbers:false,
		singleSelect:false,//多选
		remoteSort: false,
		pagination:true,
		pageSize: 10,//每页显示的记录条数 
        pageList: [5,10,15,20,50],
		idField:'c01',
		toolbar:[{
		 			id:'add',
		 			text:'新增',
		 			iconCls:'icon-add',
		 			handler:function(){
			    		window.location.href = $rdm.baseUrl() + "/serving/add";
			    	}
		 		},
		 		{
		 			id:'update',
		 			text:'修改',
		 			iconCls:'icon-edit',
		 			handler:function(){
			    		window.location.href = $rdm.baseUrl() + "/serving/add";
			    	}
		 		},
		 		{
		 			id:'del',
		 			text:'删除',
		 			iconCls:'icon-remove',
		 			handler:function(){
			    		window.location.href = $rdm.baseUrl() + "/serving/add";
			    	}
		 		}
		 		,{
		 			id:'export',
		 			text:'导出.xls',
		 			iconCls:'icon-redo',
		 			handler:function(){
			    		var arr = $('#serving_container').datagrid("getSelections");
			    		if(arr.length==0){
			    			alert("先勾选，-_-");
			    		}else{
			    			var ids =[];
	    	    			for(var i=0;i<arr.length;i++){
	    	    				ids.push(arr[i].c01);
	    	    			}
	    	    			var ids = ids.join(",")
			    			window.location.href=  $rdm.baseUrl() + "/roster/serving/export/" + 1 + "/xls?ids=" + ids;
			    		}  
			    	}
		 		}
		 		,{
		 			id:'export',
		 			text:'导出.xlsx',
		 			iconCls:'icon-redo',
		 			handler:function(){
			    		var arr = $('#serving_container').datagrid("getSelections");
			    		if(arr.length==0){
			    			alert("先勾选，-_-");
			    		}else{
			    			var ids =[];
	    	    			for(var i=0;i<arr.length;i++){
	    	    				ids.push(arr[i].c01);
	    	    			}
	    	    			var ids = ids.join(",")
			    			window.location.href=  $rdm.baseUrl() + "/roster/serving/export/" + 1 + "/xlsx?ids=" + ids;
			    		}  
			    	}
		 		}
		 		,{
		 			id:'exportAll',
		 			text:'导出全部.xls',
		 			iconCls:'icon-redo',
		 			handler:function(){
			    		window.location.href=  $rdm.baseUrl() + "/roster/serving/export/" + 1 + "/xls?ids=all";
			    	}
		 		}
		 		,{
		 			id:'exportAll',
		 			text:'导出全部.xlsx',
		 			iconCls:'icon-redo',
		 			handler:function(){
			    		window.location.href=  $rdm.baseUrl() + "/roster/serving/export/" + 1 + "/xlsx?ids=all";
			    	}
		 		}
		 ],
		frozenColumns:[[    
			{field:'ck',checkbox:true},
			//{field:'id',title:'ID',width:45,align:'center',hidden:'true'},
			{field:'c01',title:'序号',width:fixWidth(0.03),align:'center'},
			{field:'c02',title:'工号',width:fixWidth(0.06),align:'center'},
			{field:'c03',title:'姓名',width:fixWidth(0.05),align:'center'},
			{field:'c04',title:'证件号码',width:150,align:'center'},
			{field:'c05',title:'代称',width:65,align:'center'},
			{field:'c06',title:'入职日期',width:90,align:'center'},
			{field:'c07',title:'所属机构',width:90,align:'center'},
    	]],
		columns:[[
			{field:'c08',title:'业务单元',width:90,align:'center'},
			{field:'c09',title:'一级部门/分公司',width:100,align:'center'},
			{field:'c10',title:'办事处',width:60,align:'center'},
			{field:'c11',title:'工作地点',width:90,align:'center'},
			{field:'c12',title:'二级部门',width:90,align:'center'},
			{field:'c13',title:'三级部门',width:90,align:'center'},
			{field:'c14',title:'职位名称',width:110,align:'center'},
			{field:'c15',title:'岗位类型',width:90,align:'center'},
			{field:'c16',title:'职级',width:60,align:'center'},
			{field:'c17',title:'司龄',width:60,align:'center'},
			{field:'c18',title:'员工状态',width:80,align:'center'},
			{field:'c19',title:'直接主管',width:80,align:'center'},
			{field:'c20',title:'指导人',width:80,align:'center'},
			{field:'c21',title:'通过关注日期',width:100,align:'center'},
			{field:'c22',title:'试用期',width:100,align:'center'},
			{field:'c23',title:'转正日期',width:100,align:'center'},
			{field:'c24',title:'毕业学校',width:150,align:'center'},
			{field:'c25',title:'专业',width:150,align:'center'},
			{field:'c26',title:'学历',width:80,align:'center'},
			{field:'c27',title:'政治面貌',width:70,align:'center'},
			{field:'c28',title:'性别',width:70,align:'center'},
			{field:'c29',title:'出生日期',width:110,align:'center'},
			{field:'c30',title:'年龄',width:70,align:'center'},
			{field:'c31',title:'婚姻状况',width:70,align:'center'},
			{field:'c32',title:'民族',width:70,align:'center'},
			{field:'c33',title:'户口性质',width:150,align:'center'},
			{field:'c34',title:'户口所在地',width:150,align:'center'},
			{field:'c35',title:'身份证地址',width:300,align:'center'},
			{field:'c36',title:'现居住地址',width:300,align:'center'},
			{field:'c37',title:'本人电话',width:120,align:'center'},
			{field:'c38',title:'公司邮箱',width:220,align:'center'},
			{field:'c39',title:'紧急联系人姓名',width:120,align:'center'},
			{field:'c40',title:'紧急联系人电话',width:120,align:'center'},
			{field:'c41',title:'招聘来源',width:150,align:'center'},
			{field:'c42',title:'合同类型',width:150,align:'center'},
			{field:'c43',title:'合同期限类型',width:150,align:'center'},
			{field:'c44',title:'现合同/协议主体',width:200,align:'center'},
			{field:'c45',title:'现签合同/协议起始日期',width:200,align:'center'},
			{field:'c46',title:'现签合同/协议终止时间',width:200,align:'center'},
			{field:'c47',title:'录入人',width:90,align:'center'},
			{field:'c48',title:'备注',width:100,align:'center'}
		]]
		,onLoadError:function(){
			//$.messager.alert('Error','获取列表失败!请重试。','error');
		}
	});
	
	var values={
		"0":"正常","1":"封禁","null":"未知"
	}
	
	var styler={
		"0":"color:green","1":"color:red","null":"color:grey"
	}
	
});

function loadData(){
	$('#serving_container').datagrid("load",packageData());
}

function preImport(){
	$('#importBtn').hide();
	$('#importDiv').show();
	$('#saveBtn').show();
	$('#cancelBtn').show();
	$('#excelFile').click();
}

function cancel(){
	$('#importBtn').show();
	$('#cancelBtn').hide();
	$('#saveBtn').hide();
	$('#importDiv').hide();
	$('#excelFile').val('');
}

function packageData(){
	var data = {};
	if($("#userName").val() != '') {
		data.userName = $("#userName").val();
	}
	if($("#realName").val() != '') {
		data.realName = $("#realName").val();
	}
	
	return data;
}

document.onkeydown = function(e){
	var event = e || window.event;  
    var code = event.keyCode || event.which || event.charCode;
	if(e.keyCode==13){
		loadData();
	}
}

function reset(){
	$('#userName').val('');
	$('#realName').val('');
	window.location.reload();
}
]]#

</script>  
