<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>

	<typeAliases>
		<!-- bean list -->
		<typeAlias type="com.doogua.api.bean.book.Author" alias="Author" />
		<typeAlias type="com.doogua.api.bean.book.AuthorApply" alias="AuthorApply" />
		<typeAlias type="com.doogua.api.bean.book.Book" alias="Book" />
		<typeAlias type="com.doogua.api.bean.book.BookChapter" alias="BookChapter" />
		<typeAlias type="com.doogua.api.bean.book.BookVolume" alias="BookVolume" />
		<typeAlias type="com.doogua.api.bean.book.UserPaidAuto" alias="UserPaidAuto" />
		<typeAlias type="com.doogua.api.bean.book.UserPaidChapter" alias="UserPaidChapter" />
		<typeAlias type="com.doogua.api.bean.book.BookGenre" alias="BookGenre" />
		<typeAlias type="com.doogua.api.bean.book.BookStatistics" alias="BookStatistics" />
		<typeAlias type="com.doogua.api.bean.book.BookTag" alias="BookTag" />
		<typeAlias type="com.doogua.api.bean.book.RankGenreList" alias="RankGenreList" />
		<typeAlias type="com.doogua.api.bean.book.BookUpdate" alias="BookUpdate" />
		
		<!-- vo list -->
		<typeAlias type="com.doogua.api.common.vo.AuthorVo" alias="AuthorVo" />
		<typeAlias type="com.doogua.api.common.vo.BookChapterVo" alias="BookChapterVo" />
		<typeAlias type="com.doogua.api.common.vo.BookVolumeVo" alias="BookVolumeVo" />
		<typeAlias type="com.doogua.api.common.vo.BookVo" alias="BookVo" />
		
	</typeAliases>

</configuration>
