#set( $layout = "./layout/empty.vm" )

		    <div id="footer_container" data-options="region:'south',split:true" style="height:30px;">
		    	<div style="margin-top: 5px;margin-left:5px;font-weight:bold">Copyright © 2015 www.idy.com</div>
		    </div>
		</div>
	</body>
</html>