<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doogua.api.dao.book.AuthorMapper">
	<resultMap id="Author_RM" type="Author">
		<id property="authorId" column="author_id" />
		<id property="id" column="id" />
		<id property="penname" column="penname" />
		<id property="password" column="password" />
		<id property="vita" column="vita" />
		<id property="mail" column="mail" />
		<id property="qq" column="qq" />
		<id property="mobile" column="mobile" />
		<id property="create" column="create" />
		<id property="status" column="status" />
	</resultMap>
	
	<resultMap id="Author_Vo" type="Author">
		<id property="author_id" column="author_id" />
		<id property="id" column="id" />
		<id property="penname" column="penname" />
		<id property="password" column="password" />
		<id property="vita" column="vita" />
		<id property="mail" column="mail" />
		<id property="qq" column="qq" />
		<id property="mobile" column="mobile" />
		<id property="create" column="create" />
		<id property="status" column="status" />
	</resultMap>

	<sql id="Base_Column_List">
		author_id,id,penname,password,vita,mail,qq,mobile,`create`,status
	</sql>

	<select id="count" resultType="long">
		SELECT COUNT(1) FROM author
		<where>
			<if test=" null != authorId ">
				AND author_id = #{authorId}
			</if>
			<if test=" null != id ">
				AND id = #{id}
			</if>
			<if test=" null != penname ">
				AND penname = #{penname}
			</if>
			<if test=" null != password ">
				AND password = #{password}
			</if>
			<if test=" null != vita ">
				AND vita = #{vita}
			</if>
			<if test=" null != mail ">
				AND mail = #{mail}
			</if>
			<if test=" null != qq ">
				AND qq = #{qq}
			</if>
			<if test=" null != mobile ">
				AND mobile = #{mobile}
			</if>
			<if test=" null != create ">
				AND `create` = #{create}
			</if>
			<if test=" null != status ">
				AND status = #{status}
			</if>
		</where>
	</select>

	<select id="countAll" resultType="long">
		SELECT COUNT(1) FROM author
	</select>

	<insert id="create" parameterType="map" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO author (<include refid="Base_Column_List" />)
		VALUES (#{authorId},#{id},#{penname},#{password},#{vita},#{mail},#{qq},#{mobile},#{create},#{status})
	</insert>

	<delete id="del" parameterType="Author">
		DELETE FROM author
		<where>
			<if test=" null != authorId ">
				AND author_id = #{authorId}
			</if>
			<if test=" null != penname ">
				AND penname = #{penname}
			</if>
			<if test=" null != password ">
				AND password = #{password}
			</if>
			<if test=" null != vita ">
				AND vita = #{vita}
			</if>
			<if test=" null != mail ">
				AND mail = #{mail}
			</if>
			<if test=" null != qq ">
				AND qq = #{qq}
			</if>
			<if test=" null != mobile ">
				AND mobile = #{mobile}
			</if>
			<if test=" null != create ">
				AND `create` = #{create}
			</if>
			<if test=" null != status ">
				AND status = #{status}
			</if>
		</where>
	</delete>

	<delete id="delById" parameterType="java.lang.Long">
		DELETE FROM author WHERE id = #{id}
	</delete>

	<select id="find" resultMap="Author_RM">
		SELECT <include refid="Base_Column_List" /> 
		FROM author
		<where>
			<if test=" null != authorId ">
				AND author_id LIKE concat('%', #{authorId}, '%')
			</if>
			<if test=" null != id ">
				AND id LIKE concat('%', #{id}, '%')
			</if>
			<if test=" null != penname ">
				AND penname LIKE concat('%', #{penname}, '%')
			</if>
			<if test=" null != password ">
				AND password = #{password}
			</if>
			<if test=" null != vita ">
				AND vita = #{vita}
			</if>
			<if test=" null != mail ">
				AND mail = #{mail}
			</if>
			<if test=" null != qq ">
				AND qq = #{qq}
			</if>
			<if test=" null != mobile ">
				AND mobile = #{mobile}
			</if>
			<if test=" null != create ">
				AND `create` = #{create}
			</if>
			<if test=" null != status ">
				AND status = #{status}
			</if>
		</where>
		ORDER BY `create` DESC 
		<if test=" null != start and null != limit">
			LIMIT  #{start},#{limit}
		</if>
	</select>

	<select id="findById" resultMap="Author_RM" parameterType="java.lang.Integer">
		SELECT <include refid="Base_Column_List" /> 
		FROM author 
		WHERE author_id = #{id}
	</select>
	
	<select id="findVoById" resultMap="Author_Vo" parameterType="java.lang.Long">
		SELECT <include refid="Base_Column_List" /> 
		FROM author 
		WHERE author_id = #{id}
	</select>

	<update id="update" parameterType="Author">
		UPDATE author
		SET
			<if test=" null != id ">
				 id = #{id},
			</if>
			<if test=" null != penname ">
				 penname = #{penname},
			</if>
			<if test=" null != password ">
				 password = #{password},
			</if>
			<if test=" null != vita ">
				 vita = #{vita},
			</if>
			<if test=" null != mail ">
				 mail = #{mail},
			</if>
			<if test=" null != qq ">
				 qq = #{qq},
			</if>
			<if test=" null != mobile ">
				 mobile = #{mobile},
			</if>
			<if test=" null != create ">
				 `create` = #{create},
			</if>
			<if test=" null != status ">
				 status = #{status},
			</if>
			author_id = #{authorId}
			WHERE author_id = #{authorId}
	</update>

</mapper>