<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doogua.api.dao.book.AuthorApplyMapper">
	<resultMap id="AuthorApply_RM" type="AuthorApply">
		<id property="applyId" column="apply_id" />
		<id property="id" column="id" />
		<id property="penname" column="penname" />
		<id property="password" column="password" />
		<id property="mail" column="mail" />
		<id property="qq" column="qq" />
		<id property="mobile" column="mobile" />
		<id property="create" column="create" />
		<id property="status" column="status" />
		<id property="resume" column="resume" />
		<id property="bookTitle" column="book_title" />
		<id property="bookIntro" column="book_intro" />
		<id property="bookContent" column="book_content" />
		<id property="examinant" column="examinant" />
		<id property="examinantId" column="examinant_id" />
		<id property="examinantStatus" column="examinant_status" />
		<id property="examinantEvaluate" column="examinant_evaluate" />
	</resultMap>

	<sql id="Base_Column_List">
		apply_id,id,penname,password,mail,qq,mobile,`create`,status,resume,book_title,book_intro,book_content,examinant,examinant_id,examinant_status,examinant_evaluate
	</sql>

	<select id="count" resultType="long">
		SELECT COUNT(1) FROM author_apply
		<where>
			<if test=" null != applyId ">
				AND apply_id = #{applyId}
			</if>
			<if test=" null != penname ">
				AND penname = #{penname}
			</if>
			<if test=" null != password ">
				AND password = #{password}
			</if>
			<if test=" null != mail ">
				AND mail = #{mail}
			</if>
			<if test=" null != qq ">
				AND qq = #{qq}
			</if>
			<if test=" null != mobile ">
				AND mobile = #{mobile}
			</if>
			<if test=" null != create ">
				AND `create` = #{create}
			</if>
			<if test=" null != status ">
				AND status = #{status}
			</if>
			<if test=" null != resume ">
				AND resume = #{resume}
			</if>
			<if test=" null != bookTitle ">
				AND book_title = #{bookTitle}
			</if>
			<if test=" null != bookIntro ">
				AND book_intro = #{bookIntro}
			</if>
			<if test=" null != bookContent ">
				AND book_content = #{bookContent}
			</if>
			<if test=" null != examinant ">
				AND examinant = #{examinant}
			</if>
			<if test=" null != examinantId ">
				AND examinant_id = #{examinantId}
			</if>
			<if test=" null != examinantStatus ">
				AND examinant_status = #{examinantStatus}
			</if>
			<if test=" null != examinantEvaluate ">
				AND examinant_evaluate = #{examinantEvaluate}
			</if>
		</where>
	</select>

	<select id="countAll" resultType="long">
		SELECT COUNT(1) FROM author_apply
	</select>

	<insert id="create" parameterType="map" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO author_apply (<include refid="Base_Column_List" />)
		VALUES (#{applyId},#{id},#{penname},#{password},#{mail},#{qq},#{mobile},#{create},#{status},#{resume},#{bookTitle},#{bookIntro},#{bookContent},#{examinant},#{examinantId},#{examinantStatus},#{examinantEvaluate})
	</insert>

	<delete id="del" parameterType="AuthorApply">
		DELETE FROM author_apply
		<where>
			<if test=" null != applyId ">
				AND apply_id = #{applyId}
			</if>
			<if test=" null != penname ">
				AND penname = #{penname}
			</if>
			<if test=" null != password ">
				AND password = #{password}
			</if>
			<if test=" null != mail ">
				AND mail = #{mail}
			</if>
			<if test=" null != qq ">
				AND qq = #{qq}
			</if>
			<if test=" null != mobile ">
				AND mobile = #{mobile}
			</if>
			<if test=" null != create ">
				AND `create` = #{create}
			</if>
			<if test=" null != status ">
				AND status = #{status}
			</if>
			<if test=" null != resume ">
				AND resume = #{resume}
			</if>
			<if test=" null != bookTitle ">
				AND book_title = #{bookTitle}
			</if>
			<if test=" null != bookIntro ">
				AND book_intro = #{bookIntro}
			</if>
			<if test=" null != bookContent ">
				AND book_content = #{bookContent}
			</if>
			<if test=" null != examinant ">
				AND examinant = #{examinant}
			</if>
			<if test=" null != examinantId ">
				AND examinant_id = #{examinantId}
			</if>
			<if test=" null != examinantStatus ">
				AND examinant_status = #{examinantStatus}
			</if>
			<if test=" null != examinantEvaluate ">
				AND examinant_evaluate = #{examinantEvaluate}
			</if>
		</where>
	</delete>

	<delete id="delById" parameterType="java.lang.Long">
		DELETE FROM author_apply WHERE id = #{id}
	</delete>

	<select id="find" resultMap="AuthorApply_RM">
		SELECT <include refid="Base_Column_List" /> 
		FROM author_apply
		<where>
			<if test=" null != applyId ">
				AND apply_id = #{applyId}
			</if>
			<if test=" null != penname ">
				AND penname = #{penname}
			</if>
			<if test=" null != password ">
				AND password = #{password}
			</if>
			<if test=" null != mail ">
				AND mail = #{mail}
			</if>
			<if test=" null != qq ">
				AND qq = #{qq}
			</if>
			<if test=" null != mobile ">
				AND mobile = #{mobile}
			</if>
			<if test=" null != create ">
				AND `create` = #{create}
			</if>
			<if test=" null != status ">
				AND status = #{status}
			</if>
			<if test=" null != resume ">
				AND resume = #{resume}
			</if>
			<if test=" null != bookTitle ">
				AND book_title = #{bookTitle}
			</if>
			<if test=" null != bookIntro ">
				AND book_intro = #{bookIntro}
			</if>
			<if test=" null != bookContent ">
				AND book_content = #{bookContent}
			</if>
			<if test=" null != examinant ">
				AND examinant = #{examinant}
			</if>
			<if test=" null != examinantId ">
				AND examinant_id = #{examinantId}
			</if>
			<if test=" null != examinantStatus ">
				AND examinant_status = #{examinantStatus}
			</if>
			<if test=" null != examinantEvaluate ">
				AND examinant_evaluate = #{examinantEvaluate}
			</if>
		</where>
		ORDER BY `create` DESC 
		<if test=" null != start and null != limit">
			LIMIT  #{start},#{limit}
		</if>
	</select>

	<select id="findById" resultMap="AuthorApply_RM" parameterType="java.lang.Long">
		SELECT <include refid="Base_Column_List" /> 
		FROM author_apply 
		WHERE apply_id = #{id}
	</select>

	<update id="update" parameterType="AuthorApply">
		UPDATE author_apply
		SET
			<if test=" null != id ">
				id = #{id},
			</if>
			<if test=" null != penname ">
				 penname = #{penname},
			</if>
			<if test=" null != password ">
				 password = #{password},
			</if>
			<if test=" null != mail ">
				 mail = #{mail},
			</if>
			<if test=" null != qq ">
				 qq = #{qq},
			</if>
			<if test=" null != mobile ">
				 mobile = #{mobile},
			</if>
			<if test=" null != create ">
				 `create` = #{create},
			</if>
			<if test=" null != status ">
				 status = #{status},
			</if>
			<if test=" null != resume ">
				 resume = #{resume},
			</if>
			<if test=" null != bookTitle ">
				 book_title = #{bookTitle},
			</if>
			<if test=" null != bookIntro ">
				 book_intro = #{bookIntro},
			</if>
			<if test=" null != bookContent ">
				 book_content = #{bookContent},
			</if>
			<if test=" null != examinant ">
				 examinant = #{examinant},
			</if>
			<if test=" null != examinantId ">
				 examinant_id = #{examinantId},
			</if>
			<if test=" null != examinantStatus ">
				 examinant_status = #{examinantStatus},
			</if>
			<if test=" null != examinantEvaluate ">
				 examinant_evaluate = #{examinantEvaluate},
			</if>
			apply_id = #{applyId}
			WHERE apply_id = #{applyId}
	</update>

</mapper>